# Eclipse files #
.project
.classpath
.settings/

# IDEA files #
.idea/
*.iml

# Maven files #
target/

# Handy scripts for quick redeployment #
config-redeploy.bat
directory-redeploy.bat

# Log files #
*.log