<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

  <bean class="org.mockito.Mockito" factory-method="mock">
    <constructor-arg value="by.sazonenka.katana.persistence.dao.ConstraintConfigDao"/>
  </bean>

  <bean class="org.mockito.Mockito" factory-method="mock">
    <constructor-arg value="by.sazonenka.katana.persistence.dao.ValidationRuleDao"/>
  </bean>

  <bean class="org.mockito.Mockito" factory-method="mock">
    <constructor-arg value="by.sazonenka.katana.persistence.dao.OutputFileDao"/>
  </bean>

  <bean class="org.mockito.Mockito" factory-method="mock">
    <constructor-arg value="by.sazonenka.katana.persistence.dao.OutputFieldDao"/>
  </bean>

</beans>
